

<div  ng-controller="profileController">
<style>
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
</style>
                <div class="overlay">
                    <div class="overlay_text">Please Wait</div>
              </div>
                        <div class="container body_cotainer">
                        <div class="head_container">
                                <div class="image_cotainer">
                                        <!-- <h1>Hii Image</h1> -->
                                        <a  href="" ng-model="__file"  ngf-select="updatePic($file);" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">
                                                <!-- <input > -->
                                                <img class="img-circle profile_pic" data-ng-src={{propic}}>
                                                <i class="fa fa-camera profile_cam_icon" ng-model="profile_cam_icon"></i>
                                        </a>
                                </div>
                                <div class="content_container">
                                    <div class="content">
                                            <div class="title">
                                                   {{user_name}}
                                            </div>
                                            <div class="subtitle" >
                                                    {{user_email}}
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <p style="border-style: outset"></p>
                        <div class="cart_container">
                                <div class="cart_title">
                                        <span class="title">Cart</span>
                                </div>
                                <div class="row propile">
                                            <div class="cart_item col-md-4 col-sm-6 col-xs-12" ng-repeat="c in Cart">
                                                            <div class="panel">
                                                              <i ng-click="rem_cart(c,$event);" class="fa fa-minus-circle" aria-hidden="true"></i>
                                                                    <div class="panel-title">
                                                                            {{c.name}}
                                                                    </div>
                                                                    <div class="panel-heading">
                                                                        {{c.description}}
                                                                    </div>
                                                                    <div class="panel-body">
                                                                            <img class="img-responsive item_img_holder" data-ng-src="{{c.image.data}}">
                                                                    </div>
                                                                    <div class="paypal_container panel-footer">
                                                                       <button class="payBtn" ng-click="payPal(c);"><img src="/paypalCheckOut.png" alt="Check out with PayPal" /></button>
                                                                    </div>
                                                            </div>
                                             </div>
            
                                </div>
                        </div>
            
                </div>
            
                <!-- <script src="profileController.js"></script> -->
            </div>
                
